.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1218px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 52px 90px 100px 90px;
  text-transform: uppercase;
}

.title {
  text-transform: uppercase;
  font-size: 86px;
  font-weight: 500;
  margin-bottom: 132px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  margin-bottom: 90px;
  margin: 0 20px 90px 20px;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav__item {
  padding: 10px 17px;
  margin-right: 10px;
  color: #c4c4c4;
  opacity: 0.5;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0);
}

.selected {
  opacity: 1;
  border: 1px solid #c4c4c4;
}

.nav__search {
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.search {
  width: 436px;
  padding: 6px 0 17px 0;
  background: none;
  outline: none;
  border: none;
}

.search:focus {
  color: #c4c4c4;
}

.btn {
  border: none;
  background: none;
  color: #c4c4c4;
  cursor: pointer;
}

.paintings {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: 210px 210px 210px 210px;
  grid-auto-flow: dense;
  margin-bottom: 140px;
  justify-content: center;
}

.painting {
  width: 100%;
  height: 100%;
}

.painting:nth-child(5) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.painting__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover {
  background: black;
  opacity: 0.3;
}

.footer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  height: 218px;
}

.painting__info {
  z-index: 1;
  position: absolute;
  transform: translate(27px, -175px);
  text-align: start;
}

.none {
  display: none;
}

.painting__item {
  margin-bottom: 50px;
}

.painting__buy {
  display: flex;
}

.painting__price {
}

.painting__sale {
  text-decoration: line-through;
  opacity: 0.5;
}

.painting__btn__buy {
  padding: 10px 15px;
  color: #c4c4c4;
  background: none;
  margin-left: 30px;
  outline: none;
  border: 1px solid #c4c4c4;
  cursor: pointer;
}

.painting__btn__buy:hover {
  background-color: #554e4e;
  border: 1px solid rgba(255, 255, 255, 0);
}

.painting__btn__cart {
  background-color: #dccece;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 9px 15px;
  margin-left: 30px;
  outline: none;
  cursor: pointer;
}

.header__card {
  background-color: #c4c4c4;
  color: black;
  padding: 0px 5px;
  border-radius: 10px;
}

@media screen and (max-width: 1220px) {
  .paintings {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: 210px 210px 210px 210px 210px;
  }
  .painting:nth-child(5) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .footer {
    margin: 0 20px;
  }
}

@media screen and (max-width: 910px) {
  .title {
    font-size: 60px;
  }

  .search {
    width: 250px;
  }

  .paintings {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: 210px 210px 210px 210px 210px 210px 210px;
  }
}

@media screen and (max-width: 810px) {
  .search {
    width: 210px;
    padding: 12px 0 12px 0;
  }
}

@media screen and (max-width: 640px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav__menu {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .nav__search {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 590px) {
  .title {
    font-size: 40px;
  }

  .paintings {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin: 0 auto;
  }

  .painting {
    margin-bottom: 30px;
    width: 310px;
    height: 220px;
  }

  .header {
    font-size: 14px;
    margin: 30px 10px 100px 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    height: 100px;
    margin-bottom: 30px;
  }

  .nav__item {
    padding: 10px 10px;
  }
}
